@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.__nav,
.__overlay,
footer {
	background-color: #f56565;
}

body {
	font-family: "Poppins", sans-serif !important;
}

.__product_card:hover img {
	filter: grayscale(100%);
	transition: ease-in 0.5s;
	transform: scale(1.1);
}
.__banner_content {
	background-color: rgba(128, 128, 128, 0.623);
	padding: 12px;
	border-radius: 12px;
}
.__banner {
	background-image: url(https://images.pexels.com/photos/4553123/pexels-photo-4553123.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.__layer_shop {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.__card {
	min-width: 350px;
	background: linear-gradient(#f56565, rgba(0, 0, 0, 0));
}
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
